<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Museo Nacional del Prado</title>
        <link rel="stylesheet" type="text/css" href="../css/EstiloPresupuesto.css">
        <link rel="icon" type="image/x-icon" href="../images/fotoMP.jpg">
    </head>

    <body>
        <header>
            <div>
                <h1>Museo del Prado</h1>
            </div>
            <nav>
                <div class="div_menu">
                    <span id="botoninicio" class="boton">
                        <a href="../index.html" class="div_menu">Inicio</a>
                    </span>
                    <span class="boton">
                        <a href="../views/Galeria.html" class="div_menu">Galería</a>
                    </span>
                    <span class="botonin">
                        <a href="../views/Presupuesto.html" class="div_menu">Presupuesto</a>
                    </span>
                    <span class="boton">
                        <a href="../views/Contacto.html" class="div_menu">Contacto</a>
                    </span>
                </div>
            </nav>
        </header>
        <form>
            <h2>Formulario de Solicitud</h2>
        
            <fieldset>
                <legend>Datos</legend>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Escriba aquí su nombre"><br>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" placeholder="Escriba aquí su apellido"><br>

                <label for="telefono">Teléfono de contacto:</label>
                <input type="text" id="telefono" placeholder="Escriba aquí su teléfono de contacto"><br>

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Escriba aquí su dirección de correo electrónico">
            </fieldset>

            <fieldset>
                <legend>Presupuesto</legend>
                <label for="producto">Elija un producto:</label>
                <select id="producto">
                    <option value="0">Seleccione una opción</option>
                    <option value="25">Camiseta MP</option>
                    <option value="35">Cuadro Meninas miniatura</option>
                    <option value="200">Pluma de Cervantes</option>
                </select><br>

                <label for="plazo">Plazo en meses:</label>
                <input type="number" id="plazo" min="0" max="24"><br>

                <p>Elija las extras para el producto:</p>
                <div class="checkbox-group">
                    <label><input id="color" type="checkbox"> Color personalizado</label>
                    <label><input id="tipografia" type="checkbox"> Tipografía personalizada</label>
                    <label><input id="terminacion" type="checkbox"> Terminación personalizada</label>
                    <label><input id="npersonalizado" type="checkbox"> Nombre personalizado</label>
                </div>

                <label for="precio">Presupuesto estimado:</label>
                <input type="number" id="precio" disabled>€
            </fieldset>

            <fieldset>
                <legend>Aceptación condiciones y envío de presupuesto</legend>
                <label><input type="checkbox" required> He leído la política de privacidad</label><br>
                <button type="reset" class="submit-btn">Borrar formulario</button>
                <button id="enviar" type="submit" class="submit-btn">Enviar formulario</button>
            </fieldset>
            <p>Todos los derechos quedan reservados</p>
        </form>
        
        <section>
            <h3 class="titulo">Principales patrocinadores del museo</h3>
            <div class="patrocinadores">
                <div class="img_bbva"><a href="https://www.bbva.es/"><img class="img_patrocinadores"
                        src="../images/Bbva.jpg"
                        alt="BBVA" width="100" height="100"></a>
                </div>
                <div class="img_telefonica"><a href="https://www.telefonica.com/"><img class="img_patrocinadores"
                        src="../images/Telefonica.jpeg"
                        alt="Telefónica" width="100" height="100"></a>
                </div>
            </div>
        </section>

        <footer class="galeria">
            <span>Retiro, 28014 Madrid </span>
                <br>
            <span>Comunidad de Madrid, España</span>
            <br>
            <span><b>Esta página está protegida por derechos de autor</b></span>
        </footer>
        <script src="../js/presupuesto.js"></script>
    </body>

</html>